networks:
  app-network:
    driver: bridge
    name: app-network

services:
  redis:
    image: redis:6.2.14
    container_name: redis
    restart: always
    networks:
      - app-network
    ports:
      - "6379:6379"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./redis/data:/data
      - ./redis/conf/redis.conf:/etc/redis/redis.conf
    command:
      redis-server /etc/redis/redis.conf
      --requirepass 1234qwerQWER
      --appendonly yes
      --protected-mode no
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "1234qwerQWER", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s