services:
  seata-server:
    image: seataio/seata-server:2.0.0
    container_name: seata-server
    restart: always
    ports:
      - "7091:7091"
      - "8091:8091"
    environment:
      - JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - ./application.yml:/seata-server/resources/application.yml
    networks:
      - app-network

networks:
  app-network:
    driver: bridge