<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SensorParamMapper">

    <resultMap id="SensorParamVO" type="com.example.vo.SensorParamVO">
        <id property="id" column="sensor_param_id"/>
        <result property="symbol" column="sensor_param_symbol"/>
        <result property="paramName" column="sensor_param_param_name"/>
        <result property="dataTypeId" column="sensor_param_data_type_id"/>
        <result property="optimalValue" column="sensor_param_optimal_value"/>
        <result property="miniValue" column="sensor_param_mini_value"/>
        <result property="maxValue" column="sensor_param_max_value"/>
        <result property="unitId" column="sensor_param_unit_id"/>
        <result property="currentValue" column="sensor_param_current_value"/>
        <result property="remark" column="sensor_param_remark"/>
        <result property="sensorId" column="sensor_id"/>
    </resultMap>

    <sql id="QuerySensorVOSelect">
        SELECT sp.id              AS sensor_param_id,
               sp.symbol          AS sensor_param_symbol,
               sp.param_name      AS sensor_param_param_name,
               sp.data_type_id    AS sensor_param_data_type_id,
               sp.optimal_value   AS sensor_param_optimal_value,
               sp.mini_value      AS sensor_param_mini_value,
               sp.max_value       AS sensor_param_max_value,
               sp.unit_id         AS sensor_param_unit_id,
               sp.current_value   AS sensor_param_current_value,
               sp.remark          AS sensor_param_remark,
               sp.create_time     AS sensor_param_create_time,
               sp.update_time     AS sensor_param_update_time,
               sp.create_user     AS sensor_param_create_user,
               sp.update_user     AS sensor_param_update_user,
               sp.deleted         AS sensor_param_deleted,
               sp.version         AS sensor_param_version,
               d.id               AS device_id,
               d.device_number    AS device_number,
               d.device_name      AS device_name,
               d.remark           AS device_remark,
               d.create_time      AS device_create_time,
               d.update_time      AS device_update_time,
               d.create_user      AS device_create_user,
               d.update_user      AS device_update_user,
               d.deleted          AS device_deleted,
               d.version          AS device_version,
               c.id               AS component_id,
               c.component_number AS component_number,
               c.component_name   AS component_name,
               c.remark           AS component_remark,
               c.create_time      AS component_create_time,
               c.update_time      AS component_update_time,
               c.create_user      AS component_create_user,
               c.update_user      AS component_update_user,
               c.deleted          AS component_deleted,
               c.version          AS component_version,
               s.id               AS sensor_id,
               s.sensor_number    AS sensor_number,
               s.sensor_name      AS sensor_name,
               s.remark           AS sensor_remark,
               s.create_time      AS sensor_create_time,
               s.update_time      AS sensor_update_time,
               s.create_user      AS sensor_create_user,
               s.update_user      AS sensor_update_user,
               s.deleted          AS sensor_deleted,
               s.version          AS sensor_version
        FROM t_sensor_param AS sp
                 LEFT JOIN t_device_component_sensor AS dcs ON dcs.sensor_param_id = sp.id
                 LEFT JOIN t_device AS d ON d.id = dcs.device_id
                 LEFT JOIN t_component AS c ON c.id = dcs.component_id
                 LEFT JOIN t_sensor AS s ON s.id = dcs.sensor_id
    </sql>

    <sql id="QuerySensorVOWhere">
        <where>
            <if test="dto != null">
                <if test="dto.id != null">
                    AND sp.id = #{dto.id}
                </if>
                <if test="dto.ids != null and dto.ids.size() > 0">
                    AND sp.id IN
                    <foreach item="item" collection="dto.ids" separator="," close=")" open="(" index="index">
                        #{item}
                    </foreach>
                    />
                </if>
                <if test="dto.symbol != null and dto.symbol != ''">
                    AND sp.symbol = #{dto.symbol}
                </if>
                <if test="dto.sensorId != null">
                    AND s.id = #{dto.sensorId}
                </if>
                <if test="dto.paramName != null and dto.paramName != ''">
                    AND sp.param_name LIKE CONCAT('%', #{dto.paramName}, '%')
                </if>
            </if>
        </where>
    </sql>

    <select id="listData" resultMap="SensorParamVO">
        <include refid="QuerySensorVOSelect"/>
        <include refid="QuerySensorVOWhere"/>
    </select>

    <select id="pageData" resultMap="SensorParamVO">
        <include refid="QuerySensorVOSelect"/>
        <include refid="QuerySensorVOWhere"/>
    </select>

</mapper>